header {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  background-color: #EC715F;
}

.navi-list {
  list-style: none;
  margin: 0 auto;
}

.navi-list-item {
  text-align: right;
  display: inline-block;
  /*margin: 0 20px;*/
  color: #FAFAFA;
  font-size: 16px;
}