header {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  background-color: #EC715F;
  display: flex;

}

.navi-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: #FAFAFA;
  font-size: 16px;
}

.navi-list-item {
  justify-content: flex-end;
  padding: 30px;
}

.main-visual{
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: 100% 100%;
}

.main-visual-text{
  font-size: 64px;
  height: 650px;
  color: #FAFAFA;
  position: absolute;
  text-align: center;
}

.main-visual-name{
  font-size: 20px;
  color: #FAFAFA;
  position: absolute;
  left: 50%;
}

main {
  background-color: #ECEFF1;
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.portfolio{
  background-color: #ECEFF1;
  width: 920px;
  display: flex;
  margin: 0 auto;
}

.portfolio-title{
  font-size: 32px;
  color: #000000;
  padding: 90px;
  margin: 0 auto;
}

.portfolio-text{
  font-size: 16px;
  color: #000000;
  padding: 30px;
  margin: 0 auto;
}