header {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  background-color: #EC715F;
  display: flex;

}

.navi-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: #FAFAFA;
  font-size: 16px;
}

.navi-list-item {
  justify-content: flex-end;
  padding: 30px;
}

.main-visual{
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
}

.main-visual-text{
  font-size: 64px;
  color: #FAFAFA;
  position: absolute;
  left: 50%;
}

.main-visual-name{
  font-size: 20px;
  color: #FAFAFA;
  position: absolute;
  left: 50%;
}